# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/make-react-game.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
node_modules/
package-lock.json
yarn.lock
